.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #db1515;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-top-width: 0px;
    display: inline-block;
    width: 100vw;
}

.navbar li {
    float: left;
}

.navbar li a {
    font-family: Arial;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.navbar li a:hover {
    background-color: #ff0000;
}

.navbar .active {
    background-color: #04AA6D;
}

.navbar body {
    margin: 0;
}